body{
    background-color: #4f3e91;
}

/*------------ Login container ------------*/
.box-area{
    width: 930px;
}
/*------------ Right box ------------*/
.right-box{
    padding: 40px 30px 40px 40px;
}
/*------------ Custom Placeholder ------------*/
::placeholder{
    font-size: 16px;
}
.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}
/*------------ For small screens------------*/
@media only screen and (max-width: 768px){
     .box-area{
        margin: 0 10px;
     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }
}

/*Fuentes*/
h2, h4{
    font-family: 'Comfortaa', cursive;
    color: #4f3e91;
}

.h1{
    color: #4f3e91;
}

h5{
    color: #4f3e91;
    font-family: 'Noto Sans', sans-serif;
}

h6, p {
    font-family: 'Noto Sans', sans-serif;
}